.input-wrapper {
	display: flex;
	border-bottom: 1px solid #2A2A2A;
	flex: 1;
	position: relative;
	&.number{
		max-width: 124px;
	}
    &.invalid{
        border-bottom: 1px solid rgb(149, 28, 18);
    }
	input {
		padding: 12px 8px;
		border-radius: 4px;
		border: none;
		background: transparent;
		overflow: hidden;
		text-overflow: ellipsis;
        border: none;
		flex: 1;
		font-size: 14px;
	}

	input[type='number'] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			display: none;
		}
	}

	.error {
		position: absolute;
		color: rgb(149, 28, 18);;
		text-align: left;
        bottom: -20px;
        font-size: 14px;
		margin-left: 10px;
		margin-top: 10px;
	}
}
