.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    height: 68px;
    width: 100%;
    padding-right: 16px;
    .inputs-wrapper{
        display: flex;
        align-items: center;
        gap: 16px;
        flex:1;
        padding-bottom: 16px;
        div:first-child{
            flex:1;
        }
    }
    .buttons-wrapper{
        display: flex;
        align-items: center;
        gap:16px;
    }
}